footer {
  display: flex;
  background-color: var(--green);
  flex-direction: row;
  padding: 40px;
  /* justify-content: space-around; */
  color: rgb(70, 70, 70);
}

footer > div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.contact {
  /* width: 250px; */
}
