header {
  all: unset;
  width: 100vw;
  height: 70px;
  background-color: rgb(130, 217, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* font-size: 1.2em; */
}

header a {
  all: unset;
  cursor: pointer;
}

header a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-left: 50px;
}

.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 50px;
}
